# Compiled class file
*.class

# Idea files
*.iml
*.iws

# Log file
*.log

# BlueJ files
*.ctxt

# help sh files
*p*.sh

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea folder
.idea

# maven target
/target/
*/target/**

debug.sh
publish.bat
/.github/release/maven-settings.xml
